<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
    </head>
    <body>
        <h1>Patrones de diseño</h1>
        <p>
            Los patrones de diseño empleados en la elaboración de esta app son
            los siguientes:
            </p>
            <ul>
                <li><h2>Adaptador(ORM - Pony)</h2><p>
                    El empleo de una biblioteca de ORM (Object Relational Mapping)
                    elimina la dependencia de una base de datos específica, permitiendo
                    reutilizar el código y escribir las consultas de una forma más
                    idomática en Python.
                </p></li>
                <li><h2>lorem ipsum</h2><p>
                    lorem ipsum dolor sit amet, consectetur adipiscing elit
                </p></li>
                </ul>
    </body>
</html>
